<form action="/search">
	<input type="text" name="search">
	<select id="cat_product" style="width: 155px;" name="searchBy">
		<option value="0">Chọn tiêu chí...</option>
		<option value="price">Giá</option>
		<option value="category">Danh mục</option>
	</select>
	<input type="submit" value="Tìm kiếm">
</form>