	<% include header.ejs %>
	<!--Body -->
	<div id="content">
		<div class="container">
			<div class="row">
				<div style="font-size: 72px; color: #999; text-align: center; padding: 70px 10px">
					404. Not Found
				</div>
			</div>
		</div>
	</div>
	<% include footer.ejs %>
