	<% include includes/header.ejs %>
	<!--Body -->
	<div id="content">
		<div class="container">
			<form action="/change-password" method="POST" class="form-horizontal form-box col-sm-6 col-sm-offset-3" name="set_new_pass" onsubmit="return validateFormSetNewPass()">
				<fieldset>

				<!-- Form Name -->
				<h2>Thay đổi mật khẩu mới</h2>

				<!-- Text input-->
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input id="old-password" name="old_password" type="password" placeholder="Mật khẩu" class="form-control input-md" required="">
				</div>

				<!-- Text input-->
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					<input id="set_new_pass_pass1" name="set_new_pass_pass1" type="password" placeholder="Mật khẩu mới" class="form-control input-md" required="">
				</div>
				<span id="set_new_pass_result_strength_pass"></span>

				<!-- Text input-->
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-ok"></i></span>
					<input id="set_new_pass_pass2" name="set_new_pass_pass2" type="password" placeholder="Nhập lại mật khẩu" class="form-control input-md" required="">
				</div>
				<span id="set_new_pass_msg_reenter_pass"></span>

				<!-- Button -->
				<button id="sign_up_btn_create" name="sign_up_btn_create" class="btn btn-primary" type="submit">Lưu lại và đăng nhập</button>

				</fieldset>
			</form>	

		</div>
	</div>
	<% include includes/footer.ejs %>