	<% include includes/header.ejs %>
	<!--Body -->
	<div id="content">
		<div class="container">
			<form action="/forget-password" method="POST" class="form-horizontal form-box col-sm-6 col-sm-offset-3">
				<fieldset>

				<!-- Form Name -->
				<h2>Quên mật khẩu</h2>
				<!-- Text input-->
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input id="forget_user" name="forget_user" type="text" placeholder="Username" class="form-control input-md" required="" value="<%= username %>">
					<span class="input-group-addon" style="cursor: pointer;" id="get-code"> Lấy mã</span>
				</div>
				<div class="message_forget_password" style="color: #00b0ff;">
					<p></p>
				</div>

				<!-- Text input-->
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-ok"></i></span>
					<input id="forget_pass_code" name="forget_pass_code" type="text" placeholder="Mã xác nhận" class="form-control input-md" required="" help = "">  
				</div>
				
				<!--Message thông báo mã xác nhận sai-->
				<div class="message_forget_password"><span></span></div>

				<!-- Button -->
				<button id="sign_up_btn_create" name="sign_up_btn_create" class="btn btn-primary" type="submit">Tiếp tục</button>

				<div id="forget_pass_links">
					<a href="#" class="pull-right forget_pass_link">Gửi lại mã xác nhận</a>
					<a href="#" class="show-popup-login pull-left forget_pass_link">Đăng nhập</a>
				</div>



				</fieldset>
			</form>	

		</div>
	</div>
	<% include includes/footer.ejs %>

