	<% include includes/header.ejs %>
	<div class="popup-login popup" style="background: #e0e0e0; overflow: auto;">
		<div class="container-popup" style="margin: 20px auto; position: initial; transform: none;">
			<div class="close-popup close-popup-icon"><i class="glyphicon glyphicon-remove"></i></div>
			<div class="content-popup">
				<div class="login">
					<div class="header-popup">
						<h2>Đăng nhập</h2>
						<p>Chào mừng bạn đến với shop hoa Khoa học tự nhiên</p>
					</div>
					<div class="body-popup">
						<div class="col-xs-12 col-sm-6 col-md-6 left-content">
							<div><p>Đăng nhập với tài khoản mạng xã hội</p></div>
							 <div class="social-login">
						        <a href="/auth/fb" class="login_btn-facebook facebook-login">
							        <i class="fa fa-facebook"></i>
							        <span>Facebook</span>
						        </a>
					        </div>
				        	<div class="social-login">
						        <a href="/auth/tw" class="login_btn-twitter twitter-login">
							        <i class="fa fa-twitter"></i>
							        <span>Twitter</span>
						        </a>
					        </div>	
				        	<div class="social-login">
						        <a href="/auth/gg" class="login_btn-google google-login">
							        <i class="fa fa-google-plus"></i>
							        <span>Google+</span>
						        </a>
					        </div>	

						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 right-content">
							<form action="/auth/local" method="POST" id="login">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
									<input id="username" type="text" required class="form-control" name="username" placeholder="Tên đăng nhập">
								</div>
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
									<input id="password" type="password" required class="form-control" name="password" placeholder="Mật khẩu">
								</div>
								<% if (login_fail) { %>
									<div class="err" style="color: red; font-size: 13px;">Tên đăng nhập hoặc mật khẩu không đúng</div>
								<% } %>
								<a href="/forget-password" class="pull-right">Quên mật khẩu?</a>
								<input type="submit" value="Đăng nhập">
							</form>
						</div>
					</div>
					<div class="footer-popup">
						<a href="/sign-up">Đăng ký tài khoản miễn phí.</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include includes/footer.ejs %>