<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
	<title>Admin - Shop hoa Khoa học tự nhiên</title>
	<link rel="stylesheet" type="text/css" href="/admin/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/admin/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/admin/css/style.css">

	<script type="text/javascript" src="/admin/js/jquery-3.2.0.min.js"></script>
	<script type="text/javascript" src="/admin/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/admin/js/chart.min.js"></script>
	<script type="text/javascript" src="/admin/js/script.js"></script>
	
</head>
<body>
	<header id="header">
		<ul class="top-menu pull-left">
			<li class="visit-site">
				<a href="/">
					<span class="fa fa-home"></span><span class="hidden-xs">Website</span>
				</a>
			</li>
			<li class="add-product">
				<a href="#">
					<span class="fa fa-plus"></span><span class="hidden-xs">Thêm sản phẩm</span>
				</a>
			</li>
			<li class="notification">
				<a href="#">
					<span class="fa fa-comment"></span><span class="hidden-xs">Thông báo</span>
				</a>
			</li>
		</ul>
		<div class="account pull-right">
			<a class="info-account" href="#">
				<span class="name">Nhóm 10</span>
				<img src="/admin/images/avatar.jpg" class="avatar">
			</a>
		</div>
	</header>