		<div class="left-menu">
			<img src="images/logo.png" class="logo">
			<ul>
				<li class="active"><a href="/admin/dashboard"><i class="fa fa-dashboard"></i><span>Tổng quan</span></a></li>
				<li><a href="/admin/product"><i class="fa fa-yelp"></i><span>Sản phẩm</span></a></li>
				<li><a href="/admin/group"><i class="fa fa-tags"></i><span>Nhóm sản phẩm</span></a></li>
				<li><a href="/admin/order"><i class="fa fa-clone"></i><span>Đơn hàng</span></a></li>
				<li><a href="/admin/statistic"><i class="fa fa-line-chart"></i><span>Thống kê</span></a></li>
				<li><a href="/admin/account"><i class="fa fa-users"></i><span>Tài khoản</span></a></li>
				<li><a href="/admin/setting"><i class="fa fa-wrench"></i><span>Cài đặt</span></a></li>
				<li class="toggle"><a href="#"><i class="fa fa-toggle"></i><span>Thu nhỏ</span></a></li>
			</ul>
		</div>
