<div class="clearfix"></div>
	<div id="site-container" class="menu-full">
		<div class="left-menu">
			<img src="images/logo.png" class="logo">
			<ul>
				<li class="active"><a href="index.html"><span class="fa fa-dashboard"></span><span>Tổng quan</span></a></li>
				<li><a href="admin.products.html"><span class="fa fa-yelp"></span><span>Sản phẩm</span></a></li>
				<li><a href="admin.groups.html"><span class="fa fa-tags"></span><span>Nhóm sản phẩm</span></a></li>
				<li><a href="admin.orders.html"><span class="fa fa-clone"></span><span>Đơn hàng</span></a></li>
				<li><a href="admin.statistic.html"><span class="fa fa-line-chart"></span><span>Thống kê</span></a></li>
				<li><a href="admin.account.html"><span class="fa fa-users"></span><span>Tài khoản</span></a></li>
				<li><a href="admin.settings.html"><span class="fa fa-wrench"></span><span>Cài đặt</span></a></li>
				<li class="toggle"><a href="#"><span class="fa fa-toggle"></span><span>Thu nhỏ</span></a></li>
			</ul>
		</div>