	<% include ../includes/header.ejs %>
	
	<!--Body -->
	<div id="content">
		<div class="product_detail">
			<div class="container">
				<div class="col-md-5 col-lg-5 hinh_anh_chi_tiet">
					<img src="../images/meaning_flowers/bach_hop.jpg">
				</div>

				<div class="col-md-7 col-lg-7" id="thong_tin">
					<h2>Ý nghĩa hoa bách hợp</h2>
					<br>
					<p>Trong tiếng việt ta, “bách hợp” có nghĩa là trăm sự hòa hợp. Chính bởi vậy nên người ta thường chọn hoa bách hợp để mong muốn mọi điều tốt lành đến với người nhận hoa.</p>
					<br>

					<div class="social_network">
				  	 	<div class="btn-group">
					        <button class="btn btn-default btn-lg disabled">Share:</button> 
					        <a class="btn btn-default btn-lg" target="_blank" title="Like On Facebook" href="http://www.facebook.com/plugins/like.php?href=product_detail.html">
					            <span class="fa fa-thumbs-o-up fa-lg fb"></span>
					        </a>
					        <a class="btn btn-default btn-lg" target="_blank" title="On Facebook" href="http://www.facebook.com/sharer.php?u=product_detail.html&amp;t=Social%20Buttons%20in%20HTML%20only%20using%20Twitter%20Bootstrap%203%20and%20Font%20Awesome%20Icons">
					            <i class="fa fa-facebook fa-lg fb"></i>
					        </a>
					        <a class="btn btn-default btn-lg" target="_blank" title="On Twitter" href="http://twitter.com/share?url=http%3A%2F%2Fostr.io/code/html-social-like-share-buttons-no-javascript.html&amp;text=Social%20Buttons%20in%20HTML%20only%20using%20Twitter%20Bootstrap%203%20and%20Font%20Awesome%20Icons">
					            <i class="fa fa-twitter fa-lg tw"></i>
					        </a>
					        <a class="btn btn-default btn-lg" target="_blank" title="On Google Plus" href="https://plusone.google.com/_/+1/confirm?hl=en&amp;url=http%3A%2F%2Fostr.io/code/html-social-like-share-buttons-no-javascript.html">
					            <i class="fa fa-google-plus fa-lg google"></i>
					        </a>
				    	</div>
					</div>
					<br>
					<h2>Thông tin chi tiết</h2>
					<div class="meaning_flowers_detail">
						<p>Ở Việt Nam ta, hoa này còn có tên là hoa huệ tây hoặc hoa loa kèn. Hoa này có nhiều màu, tuy nhiên màu trắng là được ưa chuộng nhất. </p>

						<p>Không chỉ mang ý nghĩa hạnh phúc, mà chính vẻ đẹp của hoa cũng gợi nên trong lòng người ngắm những cảm xúc về sự thanh cao, quý phái và thanh khiết. </p>

						<p>Ngoài ra, bách hợp còn có ý nghĩa là “bách niên giai lão” nên hoa còn hay được dành tặng cho những cặp vợ chồng mới cưới nhằm gửi lời chúc phúc trăm năm hòa hợp, hạnh phúc mãi mãi.</p>
					</div>
				
			</div>
		</div>	
		</div>
	</div>		
	<% include ../includes/footer.ejs %>