	<% include ../includes/header.ejs %>
	
	<!--Body -->
	<div id="content">
		<div class="product_detail">
			<div class="container">
				<div class="col-md-5 col-lg-5 hinh_anh_chi_tiet">
					<img src="../images/meaning_flowers/cam_tu_cau.jpg">
				</div>

				<div class="col-md-7 col-lg-7" id="thong_tin">
					<h2>Ý nghĩa hoa cẩm tú cầu</h2>
					<br>
					<p>Cẩm tú cầu với những cánh hoa mỏng manh, chen chúc- tạo thành một cầu hoa xinh xắn với những ý nghĩa rất riêng. Được nhiều người yêu thích lựa chọn để làm hoa trang trí đám cưới, hoặc hoa tặng trong những dịp lễ, kỉ niệm.</p>
					<br>

					<div class="social_network">
				  	 	<div class="btn-group">
					        <button class="btn btn-default btn-lg disabled">Share:</button> 
					        <a class="btn btn-default btn-lg" target="_blank" title="Like On Facebook" href="http://www.facebook.com/plugins/like.php?href=product_detail.html">
					            <span class="fa fa-thumbs-o-up fa-lg fb"></span>
					        </a>
					        <a class="btn btn-default btn-lg" target="_blank" title="On Facebook" href="http://www.facebook.com/sharer.php?u=product_detail.html&amp;t=Social%20Buttons%20in%20HTML%20only%20using%20Twitter%20Bootstrap%203%20and%20Font%20Awesome%20Icons">
					            <i class="fa fa-facebook fa-lg fb"></i>
					        </a>
					        <a class="btn btn-default btn-lg" target="_blank" title="On Twitter" href="http://twitter.com/share?url=http%3A%2F%2Fostr.io/code/html-social-like-share-buttons-no-javascript.html&amp;text=Social%20Buttons%20in%20HTML%20only%20using%20Twitter%20Bootstrap%203%20and%20Font%20Awesome%20Icons">
					            <i class="fa fa-twitter fa-lg tw"></i>
					        </a>
					        <a class="btn btn-default btn-lg" target="_blank" title="On Google Plus" href="https://plusone.google.com/_/+1/confirm?hl=en&amp;url=http%3A%2F%2Fostr.io/code/html-social-like-share-buttons-no-javascript.html">
					            <i class="fa fa-google-plus fa-lg google"></i>
					        </a>
				    	</div>
					</div>
					<br>
					<h2>Thông tin chi tiết</h2>
					<div class="meaning_flowers_detail">
						<p>Cẩm tú cầu thường nở rộ từ tháng 5 đến cuối năm, có các sắc màu nhẹ nhàng, trong sáng như màu trắng, xanh, hồng nhạt, mầu tím.</p>

						<p>Điều đặc biệt ở hoa cẩm tú cầu là màu sắc của hoa phụ thuộc vào độ pH của đất. Nếu đất có độ pH là 7 thì cây cho hoa màu trắng sữa, nếu đất có độ pH lớn hơn 7 thì cây cho hoa màu hồng hoặc màu tím, và nếu độ pH nhỏ hơn 7 thì cây sẽ cho hoa màu lam.</p>

						<p>Chính vì vậy, có thể điều chỉnh màu hoa thông qua việc điều chỉnh độ pH của đất trồng. (Muốn hoa có màu lam vào mùa hè thu bón dung dịch clorua sắt hay có thể chôn vài cây đinh gỉ vào gốc cây, cũng có thể chôn vào đất một ít clorua nhôm, clorua magie. Muốn hoa có màu hồng có thể bón vào đất một ít vôi bột.)</p>

						<p>Xét về ý nghĩa thì ý nghĩa chính của cẩm tú cầu là tượng trưng cho sự lạnh lùng, vô cảm.</p>


					</div>
				
			</div>
		</div>	
		</div>
	</div>		
	<% include ../includes/footer.ejs %>