	<% include ../includes/header.ejs %>
	<!--Body -->
	<div id="content">
		<div class="product_detail">
			<div class="container">
				<div class="col-md-5 col-lg-5 hinh_anh_chi_tiet">
					<img src="../images/meaning_flowers/dong_tien.jpg">
				</div>

				<div class="col-md-7 col-lg-7" id="thong_tin">
					<h2>Ý nghĩa hoa đồng tiền</h2>
					<br>
					<p>Hoa đồng tiền với những màu sắc và vẻ ngoài tươi sáng rực rỡ luôn mang lại những cảm xúc và dấu ấn khó phai cho người nhận. Loài hoa ấy không chỉ thể hiện sự hạnh phúc, mang đến sự vui vẻ mà còn thể hiện sự ngây thơ và lòng ca ngợi.</p>
					<br>

					<div class="social_network">
				  	 	<div class="btn-group">
					        <button class="btn btn-default btn-lg disabled">Share:</button> 
					        <a class="btn btn-default btn-lg" target="_blank" title="Like On Facebook" href="http://www.facebook.com/plugins/like.php?href=product_detail.html">
					            <span class="fa fa-thumbs-o-up fa-lg fb"></span>
					        </a>
					        <a class="btn btn-default btn-lg" target="_blank" title="On Facebook" href="http://www.facebook.com/sharer.php?u=product_detail.html&amp;t=Social%20Buttons%20in%20HTML%20only%20using%20Twitter%20Bootstrap%203%20and%20Font%20Awesome%20Icons">
					            <i class="fa fa-facebook fa-lg fb"></i>
					        </a>
					        <a class="btn btn-default btn-lg" target="_blank" title="On Twitter" href="http://twitter.com/share?url=http%3A%2F%2Fostr.io/code/html-social-like-share-buttons-no-javascript.html&amp;text=Social%20Buttons%20in%20HTML%20only%20using%20Twitter%20Bootstrap%203%20and%20Font%20Awesome%20Icons">
					            <i class="fa fa-twitter fa-lg tw"></i>
					        </a>
					        <a class="btn btn-default btn-lg" target="_blank" title="On Google Plus" href="https://plusone.google.com/_/+1/confirm?hl=en&amp;url=http%3A%2F%2Fostr.io/code/html-social-like-share-buttons-no-javascript.html">
					            <i class="fa fa-google-plus fa-lg google"></i>
					        </a>
				    	</div>
					</div>
					<br>
					<h2>Thông tin chi tiết</h2>
					<div class="meaning_flowers_detail">
						<p>Hoa đồng tiền có nhiều màu khác nhau, mỗi màu lại có một ý nghĩa riêng:</p>

						<p><b>Hoa đồng tiền trắng:</b> thể hiện sự trong trắng tinh khiết</p>

						<p><b>Hoa đồng tiền vàng:</b> thể hiện niềm hạnh phúc</p>

						<p><b>Hoa đồng tiền hồng:</b> thể hiện sự ca ngợi khích lệ</p>

						<p><b>Hoa đồng tiền đỏ: </b>thể hiện tình yêu thắm đượm</p>
						<p>Nhưng dù là màu gì đi nữa thì loài hoa này đều tượng trưng cho sự hạnh phúc. Nó còn mang ý nghĩa về vẻ đẹp và điều kỳ diệu.</p>


					</div>
				
			</div>
		</div>	
		</div>
	</div>		
	<% include ../includes/footer.ejs %>