	<% include ../includes/header.ejs %>
	
	<!--Body -->
	<div id="content">
		<div class="container">
			<div class ="product new-product">
				<h2>Ý nghĩa các loài hoa</h2>
						  	
			 	<div class="col-xs-12 col-sm-6 col-md-3">
				    <div class="thumbnail product-item">
				      	<a href="/meaning-flowers/hoa-hong">
							<div class="frame">
						      <div class="image" style="background-image: url(/images/meaning_flowers/hoa_hong.jpg)"></div>
						    </div>
				      	</a>
				        <div class="caption">
				         	<a href="/meaning-flowers/hoa-hong"><h3 class="product-name">Hoa hồng</h3></a>
				        </div>
				    </div>
			  	</div>

			  	<div class="col-xs-12 col-sm-6 col-md-3">
				    <div class="thumbnail product-item">
				      	<a href="/meaning-flowers/lavender">
				      		<div class="frame">
						      <div class="image" style="background-image: url(/images/meaning_flowers/lavender.jpg)"></div>
						    </div>
				      	</a>
				        <div class="caption">
				         	<a href="/meaning-flowers/lavender"><h3 class="product-name">hoa Lavender</h3></a>
				        </div>
				    </div>
			  	</div>

			  	<div class="col-xs-12 col-sm-6 col-md-3">
				    <div class="thumbnail product-item">
				      	<a href="/meaning-flowers/bach-hop">
				        	<div class="frame">
						      <div class="image" style="background-image: url(/images/meaning_flowers/bach_hop.jpg)"></div>
						    </div>
				      	</a>
				        <div class="caption">
				         	<a href="/meaning-flowers/bach-hop"><h3 class="product-name">Hoa bách hợp</h3></a>
				        </div>
				    </div>
			  	</div>

			  	<div class="col-xs-12 col-sm-6 col-md-3">
				    <div class="thumbnail product-item">
				      	<a href="/meaning-flowers/dong-tien">
				        	<div class="frame">
						      <div class="image" style="background-image: url(/images/meaning_flowers/dong_tien.jpg)"></div>
						    </div>
				      	</a>
				        <div class="caption">
				         	<a href="/meaning-flowers/dong-tien"><h3 class="product-name">hoa đồng tiền</h3></a>
				        </div>
				    </div>
			  	</div>

			  	<div class="col-xs-12 col-sm-6 col-md-3">
				    <div class="thumbnail product-item">
				      	<a href="/meaning-flowers/cam-tu-cau">
				        	<div class="frame">
						      <div class="image" style="background-image: url(/images/meaning_flowers/cam_tu_cau.jpg)"></div>
						    </div>
				      	</a>
				        <div class="caption">
				         	<a href="/meaning-flowers/cam-tu-cau"><h3 class="product-name"> hoa cẩm tú cầu</h3></a>
				        </div>
				    </div>
			  	</div>

			  	<div class="col-xs-12 col-sm-6 col-md-3">
				    <div class="thumbnail product-item">
				      	<a href="/meaning-flowers/huong-duong">
				        	<div class="frame">
						      <div class="image" style="background-image: url(/images/meaning_flowers/huong_duong.jpg)"></div>
						    </div>
				      	</a>
				        <div class="caption">
				         	<a href="/meaning-flowers/huong-duong"><h3 class="product-name"> hoa hướng dương</h3></a>
				        </div>
				    </div>
			  	</div>

						 	
						

				
			</div>
		</div>
	</div>
		
	<% include ../includes/footer.ejs %>