	<% include ../includes/header.ejs %>
	
	<!--Body -->
	<div id="content">
		<div class="product_detail">
			<div class="container">
				<div class="col-md-5 col-lg-5 hinh_anh_chi_tiet">
					<img src="../images/meaning_flowers/lavender.jpg">
				</div>

				<div class="col-md-7 col-lg-7" id="thong_tin">
					<h2>Ý nghĩa hoa Lavender</h2>
					<br>
					<p>Hoa Oải hương (lavender) – loài hoa của những đắm say, nồng nàn, của tình yêu thủy chung bền chặt.</p>
					<br>

					<div class="social_network">
				  	 	<div class="btn-group">
					        <button class="btn btn-default btn-lg disabled">Share:</button> 
					        <a class="btn btn-default btn-lg" target="_blank" title="Like On Facebook" href="http://www.facebook.com/plugins/like.php?href=product_detail.html">
					            <span class="fa fa-thumbs-o-up fa-lg fb"></span>
					        </a>
					        <a class="btn btn-default btn-lg" target="_blank" title="On Facebook" href="http://www.facebook.com/sharer.php?u=product_detail.html&amp;t=Social%20Buttons%20in%20HTML%20only%20using%20Twitter%20Bootstrap%203%20and%20Font%20Awesome%20Icons">
					            <i class="fa fa-facebook fa-lg fb"></i>
					        </a>
					        <a class="btn btn-default btn-lg" target="_blank" title="On Twitter" href="http://twitter.com/share?url=http%3A%2F%2Fostr.io/code/html-social-like-share-buttons-no-javascript.html&amp;text=Social%20Buttons%20in%20HTML%20only%20using%20Twitter%20Bootstrap%203%20and%20Font%20Awesome%20Icons">
					            <i class="fa fa-twitter fa-lg tw"></i>
					        </a>
					        <a class="btn btn-default btn-lg" target="_blank" title="On Google Plus" href="https://plusone.google.com/_/+1/confirm?hl=en&amp;url=http%3A%2F%2Fostr.io/code/html-social-like-share-buttons-no-javascript.html">
					            <i class="fa fa-google-plus fa-lg google"></i>
					        </a>
				    	</div>
					</div>
					<br>
					<h2>Thông tin chi tiết</h2>
					<div class="meaning_flowers_detail">
						<p>Hoa oải hương là loại cây bụi thường niên có mùi thơm nồng, xuất xứ từ vùng Địa Trung Hải, được trồng nhiều tại vùng Provence, nước Pháp. Vì thế cứ nói đến Lavender là người ta lại nghĩ nay đến vùng Provence xinh đẹp với những cánh đồng Lavender trải dài.</p>

						<p>Người La Mã đã mang loại hoa này phổ biến ra khắp châu Âu, tất cả những nơi nào mà họ đặt chân đến, nhằm tạo nên nguồn cung cấp tinh dầu tại địa phương. Đây chính là một loại dược liệu thiên nhiên được ưa chuộng thời cổ đại và được xem như là thứ thảo dược của tình yêu (herb of love)</p>

						<p>Người Hy Lạp và La Mã sử dụng oải hương pha vào nước tắm bởi hương thơm và khả năng chữa bệnh của oải hương. Người ta còn nói rằng Đức Mẹ Đồng Trinh đã trải những chiếc tã quấn khăn cho em bé mới sinh của mình (chúa Jêsu) trên tấm thảm những bông hoa dại oải hương, được hái từ vùng Provence.</p>

						<p>Do tính sát khuẩn, oải hương là loại thảo mộc được ứng dụng rộng rãi trong y học – vốn được dùng để sát trùng vết thương trong thời chiến. Ngoài ra, oải hương còn mang đến nhiều công dụng khác nhau: trà làm từ hoa giúp thư giãn, nước rửa mặt là từ hoa giúp làn da khỏe mạnh hơn…</p>
						
						<p>Còn trong văn hóa tặng hoa, Oải hương (hay lavender) còn mang lại ý nghĩa về lời chúc phúc, biểu tượng cho tình yêu say đắm, nồng nàn và chung thủy. Mùi hương của oải hương cũng gợi lên ý nghĩa về sự quyến rũ và cuốn hút.</p>

						<p>Những bó hoa oải hương cũng được sử dụng làm hoa cưới như một lời chúc phúc cho đôi vợ chồng trẻ. Và rắc tung những bông oải hương khô trong nhà được cho là mang lại sự bình yên, hòa thuận. Hoa khô còn được gói trong những túi thơm lót dưới gối tạo cảm giác thư thái dễ ngủ.</p>


					</div>
				
			</div>
		</div>	
		</div>
	</div>		
	
	<% include ../includes/footer.ejs %>