	<% include includes/header.ejs %>
	<div class="clearfix"></div>
		<div id="site-container" class="menu-full">
		<% include includes/sidebar.ejs %>
		<div class="content-footer">
			<div class="content">
				<div class="box">
					<div class="box-title">

						<!-- Modal box for adding new accounts -->
						<div id="myModal" class="modal fade" role="dialog">
						  <div class="modal-dialog">

						    <!-- Modal content-->
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal">&times;</button>
						        <h4 class="modal-title">Thêm tài khoản</h4>
						      </div>
						      <div class="modal-body">

										<form id="form-add-account" onsubmit="return false;">
											<h2>Tên</h2>
											<table>
												<tbody>
													<tr>
														<th>Username (*)</th>
														<td>
															<input class="form-control" type="text" id="username" value="" required><br/>
														</td>
													</tr>
													<tr>
														<th><label for="account-add-name">Tên người dùng</label></th>
														<td><input class="form-control" type="text" id="fullname" value=""></td>
													</tr>
												</tbody>
											</table>
											<h2>Thông tin liên lạc</h2>
											<table>
												<tbody>
													<tr>
														<th><label for="account-add-email">Email (*)</label></th>
														<td><input class="form-control" type="text" id="email" value="" required></td>
													</tr>
													<tr>
														<th><label for="account-add-phone">Điện thoại</label></th>
														<td><input class="form-control" type="text" id="phone" value=""></td>
													</tr>
												</tbody>
											</table>
											<h2>Quản lí tài khoản</h2>
											<table>
												<tbody>
													<tr>
														<th><label>Vai trò (*)</label></th>
														<td>
															<div class="form-group">
															  <select class="form-control" id="role">
															    <option value="admin">Quản trị</option>
															    <option value="seller">Bán hàng</option>
															    <option value="customer">Mua hàng</option>
															  </select>
															</div>
														</td>
													</tr>
													<tr>
														<th><label>Mật khẩu (*)</label></th>
														<td>
															<p><input type="password" class="form-control" id="password1" placeholder="Mật khẩu" required></p>
															<p><input type="password" class="form-control" id="password2" placeholder="Nhập lại mật khẩu" required></p>
														</td>
													</tr>
												</tbody>
											</table>
											<input type="submit" id="form-add-account-submit" style="display: none">
										</form>
						      </div>
						      <div class="modal-footer">
										<button class="btn btn-primary" onclick="document.getElementById('form-add-account-submit').click();">Thêm tài khoản</button>
						        <button type="button" class="btn btn-default" data-dismiss="modal" id="form-add-account-close">Đóng</button>
						      </div>
						    </div>
						  </div>
						</div>

						<h1>Tài khoản<a type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Thêm</a></h1>

						<div class="product-info">
							<a href="admin.account.html" class="float-left"><h2>Tất cả  (12)</h2></a>
							<a href="admin.account.html" class="float-left">Quản trị (1)</a>
							<a href="admin.account.html" class="float-left">Bán hàng (2)</a>
							<a href="admin.account.html" class="float-left">Mua hàng (9)</a>

							<div class="form-group">
								<a href="admin.account.html" class="btn btn-default float-right">Tìm kiếm</a>
								<div class="col-xs-2 float-right">
								<input type="search" id="product-search" class="form-control">
								</div>
							</div>
						</div>

						<div class="btn btn-default">Xử lí loạt</a></div>
						<div class="btn-group">
						  <button type="button" class="btn btn-default">Tác vụ</button>
						  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						    <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" role="menu">
						    <li><a href="#">Xoá</a></li>
								<li><a href="#">Khoá tài khoản</a></li>
								<li><a href="#">Mở tài khoản</a></li>
						  </ul>
						</div>

						<div class="btn btn-default">Lọc</a></div>
						<div class="btn-group">
						  <button type="button" class="btn btn-default">Lọc tài khoản</button>
						  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						    <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" role="menu">
						    <li><a href="#">Quản trị</a></li>
						    <li><a href="#">Bán hàng</a></li>
								<li><a href="#">Mua hàng</a></li>
						  </ul>
						</div>

						<!--<a href="admin.account.html" class="btn btn-default float-right">3</a>
						<a href="admin.account.html" class="btn btn-default float-right">2</a>-->
						<a href="admin.account.html" class="btn btn-default float-right">1</a>

						<div class="clear"></div>
					</div>
					<div class="box-content">
						<div style="overflow-x:auto;">
							<table class="account-table">
								<thead>
									<tr>
										<td style="width: 1%"><div class="checkbox"><label><input type="checkbox" value=""></label></div></td>
										<td style="width: 15%">Tài khoản</td>
										<td style="width: 15%">Tên đầy đủ</td>
										<td style="width: 5%">Email</td>
										<td style="width: 10%">Loại tài khoản</td>
										<td style="width: 10%">Thời gian</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><div class="checkbox"><label><input id="product-select-all-btn" type="checkbox" value=""></label></div></td>
										<td><img src="images/account/bao.jpg" class="img-thumbnail"><a class="account-admin "href="admin.account.bao.html">quocbao</a></td>
										<td>Nguyễn Quốc Bảo</td>
										<td><a href="mailto:1412661@student.hcmus.edu.vn">1412661@student.hcmus.edu.vn</a></td>
										<td><a class="account-admin" href="admin.account.html">Quản trị</a></td>
										<td>Đã thêm 27/04/2017</td>
									</tr>
									<tr>
										<td><div class="checkbox"><label><input id="product-select-all-btn" type="checkbox" value=""></label></div></td>
										<td><img src="images/account/hien.jpg" class="img-thumbnail"><a class="account-seller" href="admin.account.hien.html">thuhien<a/></td>
										<td>Nguyễn Thị Thu Hiền</td>
										<td><a href="mailto:1412170@student.hcmus.edu.vn">1412170@student.hcmus.edu.vn</a></td>
										<td><a class="account-seller" href="admin.account.html">Bán hàng</a></td>
										<td>Đã thêm 28/04/2017</td>
									</tr>
									<tr>
										<td><div class="checkbox"><label><input id="product-select-all-btn" type="checkbox" value=""></label></div></td>
										<td><img src="images/account/huy.jpg" class="img-thumbnail"><a class="account-customer" href="admin.account.huy.html">vanhuy</a></td>
										<td>Nguyễn Văn Huy</td>
										<td><a href="mailto:1412209@student.hcmus.edu.vn">1412209@student.hcmus.edu.vn</a></td>
										<td><a class="account-customer" href="admin.account.html">Mua hàng</a></td>
										<td>Đã sửa 29/04/2017</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	<script type="text/javascript" src="/admin/js/notify.min.js"></script>
	<script type="text/javascript" src="/admin/js/admin.account.js"></script>

	</div>
</body>
</html>
