@import url("jquery-confirm.min.css");
@import url("fileinput.min.css");

.account-table tbody tr td img
{
	margin-right: 20px;
}

.account-admin
{
	font-weight: bold;
	color: red;
}

.account-seller
{
	font-weight: bold;
	color: green;
}

.account-customer
{
	font-weight: bold;
	color: orange;
}

label {
	display: block;
}

#account-profile table tbody tr th
{
	width: 170px;
	padding-left: 15px;
}

#account-profile table tbody tr td input
{
	width: 400px;
}

#account-profile table tbody tr td textarea
{
	width: 400px;
	resize: vertical;
}


.kv-avatar .krajee-default.file-preview-frame,.kv-avatar .krajee-default.file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}
.kv-avatar .file-input {
    display: table-cell;
    max-width: 220px;
}
.kv-reqd {
    color: red;
    font-family: monospace;
    font-weight: normal;
}
